* {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

body {
    background-image: url("../img/title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu button {
    color: black;
}

#home {
    margin-top: 18%;
    margin-left: 5%;
}

body p {
    font-size: 185%;
    text-align: center;
    margin-top: 15%;
    color: white;
}

body h2 {
    margin-top: 18%;
    margin-left: 5%;
}

button {
    color: black;
}

#chapitre01,
#chapitre02,
#chapitre03,
#chapitre04,
#chapitre05,
#chapitre06,
#chapitre07,
#chapitre08,
#chapitre09,
#chapitre10,
#chapitre11,
#chapitre12,
#chapitre13,
#chapitre14,
#chapitre15,
#chapitre16,
#chapitre17,
#chapitre18,
#chapitre19,
#chapitre20,
#chapitre21,
#chapitre22,
#chapitre23,
#chapitre24,
#chapitre25,
#chapitre26,
#chapitre27,
#chapitre28,
#chapitre29,
#chapitre30 {
    display: none;
}

#histoire {
    text-align: center;
}

#chapitre02 {
    margin-top: 30px;
}

#chapitre03 {
    margin-top: 20%;
}

#chapitre03 p {
    margin-top: 50px;
}

#chapitre04 p {
    margin-top: 50px;
}

#chapitre06 p {
    margin-top: 50px;
}

#chapitre26 p {
    margin-top: 50px;
}