* {
    font-family: 'Permanent Marker', cursive;
    color: white;
}

body {
    background-image: url("../img/title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu button {
    color: black;
}

#home {
    margin-top: 18%;
    margin-left: 5%;
}

body p {
    font-size: 185%;
    text-align: center;
    margin-top: 15%;
    color: white;
}

body h2 {
    margin-top: 18%;
    margin-left: 5%;
}

#choix-1 button {
    color: black;
}